USE [Java413]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 21.09.2025 2:11:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[teacher]') AND type in (N'U'))
DROP TABLE [dbo].[teacher]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 21.09.2025 2:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[age] [int] NULL,
	[first_name] [varchar](255) NULL,
	[last_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[teacher] ON 

INSERT [dbo].[teacher] ([id], [age], [first_name], [last_name]) VALUES (1, 22, N'Ivan', N'Ivanov')
INSERT [dbo].[teacher] ([id], [age], [first_name], [last_name]) VALUES (2, 77, N'Sergei', N'Sergeev')
INSERT [dbo].[teacher] ([id], [age], [first_name], [last_name]) VALUES (3, 54, N'Oleg', N'Gazmanov')
SET IDENTITY_INSERT [dbo].[teacher] OFF
GO
